sudo: required

services:
  - docker

env:
  global:
    - DOCKER_USERNAME=crazymax
    - DOCKER_REPONAME=xray
    - QUAY_USERNAME=crazymax
    - QUAY_REPONAME=xray
    - MICROBADGER_HOOK=https://hooks.microbadger.com/images/crazymax/xray/Pj8_AtfcJIbA8HOMKnyabZFJRy4=
    - secure: N0o4uvql9mjN8iTL8PStHi9AdNJzNGwouCXsPwiBD4SgAzyI3RX57P05zCi9a6x+RR6I3mF/95+LkpsyeJ8sWvwZCsYEgJozoRoF3Y2AbPTMlW+ZTdu1DED06VAWkSlW7PW1vkTo1t7yjuddlsULsAmhWGro5QqXiujD6unqNrGsr5KqomPujLj7dMf7X7L9M1LERTxjn1GtZZtW6WW4CqOnykgjftcsu8rzO6VbYopGDpsKGWa2YfNq0ozFPog9tWjHVkBXt+34k2lVBw4XSLydqkoTNkhNLhMj3k6yziseIV3jMZup9yXcyv7/r1QNrzxnniYp4nkoJyxvwW4kObLWli7OGNg+6hG1JW5l3Nif10+ART7glnElv8cCBqB/FQFXamsjMuNepOJgi59ieRyEhdKYAiS/mlc80FXZN+mXMqLj2qwDUWX+lJcDtThOi4iKj8xYT5vmeXKiH6ujp1qqM6l4/wKA3azzfi5sAJzjtrrP6hZhA9MpUzXsUms59EWlGn6TQVGtfj83iByCvZ2WrQARDHUp1l26y2R35idVaoqKGZSzZw6OH2yLty+FqGl9fr/3Ab2Oo+oZ+dZmSfzYWDHzLSEaUQ6bO8FYaMzcqi8xEP4iMyRMABHU5EqkfP8DEfPVMj1lkqu/9I2Sgsu70Ku9ToGZhjSWMtLQfAg= # DOCKER_PASSWORD
    - secure: gi+T7Kz0CfNmMzKAkuw+7jzsOXcY3eyIQulX7xHK7z/MsvJkKpiZ2fgjmP7kfPMznHSTR/zmFiVAVgU+cOYpEDa53fmFtLmprFlMSQJA4PD1tO2ka57wjqNChUSTcMYi6TAUv5mr78Zdj5CU4uZMOy4yAINpUqNqe1a/g5IA9gEBks7PfZAx1woqeumt92WetnPIYWq1u4w89iukFF0Vc66YJFjHsk3+vziuCc1TWK3ntUTIwsNYhr5nWfGnDYrYhGdsOSdDQZit8wYWLwR1c7nuZausWUIRAtc8KiOXg3/py7oDGyMY72PXGdq8xu93s03yWZOLsRGcs2zxa/cqIQ1DheWFeoi4NYVs5TfDCcIF1neokbLJfnOojTs1q9evLSwotzHmCW/MtXvf5/hLchll+pWnOOBTL1qZDvdosaFkhY9Q/Dd/aX5avcHIqCCL3jfolxLWJwEQEtGC7YxO3DlKBjV+2p51+hbKShivUWUVKiF/A6DKP5iaLc7ruOTkLiRPJHkrCu2Ov1v3NReh8mvtTSBAZ0yhRaYzZ/viUXdpizVHEahos5BKoYmCbxcoG4rHUH2VEldysHrpSHhlLFRQuTUB3+nX37QrP8DKKdszwY+UJinTzTLQiGEmixxxkrHR9WvfSavCGj/w2aT6U4/eQdlOYrACdXAEyZ7CR1Y= # QUAY_PASSWORD
    - secure: UsV3kvvP4mgsMJXCS3XMaMeZCujK1idiS6aKtsgqxUT+wXxtqRvpmAnIW/5R34cJUukqp7tgGkfWlb8BZI+DU3OoplG6vuVz1iWsQO6rhW7jlawzjkCqyz/Du8H9NWxtRSOnokBGj7lmkDgm2sPS1THQ3VaWPdoygNodGrUeMmqdGz5JojZVaWDwQnYILBEZBpx5nkRHbNd3rBwSiAwvCLwpL269IUDn67F/qm8ACIic/mD60JM28zNjlOx7mWm0zBRIqbz+YeB/CC4qcfK4ngYaI61E2z4POEBQngs0hjCJrzsD20CKA0fVuwrKVZJ32+ftbtvuUg2kHRqynsccdVkn1erbNlGN56JyXKuchavIOTy3NxxRt1yJ9TPmNUnUFt2pjgUKleLV0RPxBxPNmbMoKOdW9TekeRHts/yX6KmWRrMTjtch/lYKvBGmcE/eTfE8tgKhvl6TLXG4cHZWykNJ9mCO/RMhTG2KRmZ8VDqvI27FTQc7FwuCLjeEDZoY+DdspWIl1RniBDdicTpE8rwvkwk6ZXXzT29rs2ui3NTy6ViF1PrERp7rQQZkGesiIcCxzz2Knq1qU2yks7AN8AiqIZ9IjUnmEBEiBQpxYVHWkfA+fNpWfnSV+yv1k7NWUClBKCM31Ru6wO/fUfXEoA7t8x8n1fwWmWjerWjhlHY= # GITHUB_TOKEN

install:
  - sudo apt-get update
  - docker --version

script:
  - bash build.sh

after_success:
  - |
    test $TRAVIS_PULL_REQUEST = false \
    && echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin \
    && docker push $DOCKER_USERNAME/$DOCKER_REPONAME \
    && echo "$QUAY_PASSWORD" | docker login quay.io --username "$QUAY_USERNAME" --password-stdin \
    && docker push quay.io/$DOCKER_USERNAME/$DOCKER_REPONAME \
    && curl -X POST $MICROBADGER_HOOK

branches:
  except:
    - /^[0-9]/

notifications:
  webhooks:
    secure: gvBVcNBVPI8MiKKgs9rAXvfx3GTLSFpv4AoIlkejDDPV4SC0xzcniHoJyRa3iE+eYTe3x3gXbuJFGwPwQkt/mcdCHqrsWKc3tEmgGKJ4WfHntUhZg0umwAWoioflmaCkrg0M5ReS1Sw/K0cApvGRWoD+kJeRV7Vy1QZuMbkxSLjVbuPBFKO1bcaK2hSIPCyiZVXl1sEsv5vxBFy8PWi6A2teruPCRuWmXY9f+ZFouvk9NAQ7iBSHRHl2tVOt2vzxP6G8qFcjQRpICpp7Cg2YWyq/Z1fyshNpA7I50oKG6vNr2BgTNhQKV1N1JUP2NEwElq3ag8uUl9HoGi/89u41DH7sTWLdUoFtWHNnzx8O5WuSizal2NKpn4ylj+ColQqtS694KtUcMPcLONXH3tqVA+R9w+dM3rceKpzWDOQ6FLr6UVtvp20hlCDbdTUvV5T2orxBoGs+ZtNNVk2qZ4P4AEbscU2aObDGgNvORSv1Lp6B0be91FWYWaMw8tFiE4ud62ynU8Y2YI4P4DkrCNAweO24kJnPAJjDwEN6JnxSDMiGs0GPBkk4ZSYXhksCluyOfp/uamqyUIUl6JLiWltqNQ74Tb9XAqNspFzPuiwJKzgMQjvMGWKXbNFsFyHZ0ProFL2Kpq1RkTqGI7CcTEXzlpNCduoOtDdK9QGsVC8DGY8=
